<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet"  href="css/style.css" />
      <title>Document</title>
</head>
<body>            
      <h2>{{>header}}</h2>
      <div class="cont">
      <h2>Country: {{country}} </h2>
      <h2>Lnogitude: {{longitude}} </h2>
      <h2>Latitude: {{latitude}} </h2>
      <h2>Weather: {{weather}} </h2>
      <h2>Teperature: {{temperature}} </h2>
      </div>
</body>
</html>









